$_main_color: #242424;
$_main_bg_color: rgba(255, 255, 255, 0.87);
$_header_color: #747bff;
$_header_accent_color: red;
$_header_bg: #0e0e0e;
$_header_link_hover: #efc05d;
$_header_link_active: #fbeeb9;

$_legal_color: #ffff;
$_legal_title_color: #ffdc18;
$_legal_bg_color: #11171c;
$_legal_accent_color: #efbf5d;
$_legal_visited_color: #ffe0a1;
$_footer_bg_color: #000000;
