$_main_color: #242424;
$_main_bg_color: rgba(255, 255, 255, 0.87);

$_header_color: #747bff;
$_header_accent_color: red;
$_header_bg: #0e0e0e;
$_header_burger: #ffffff;
$_header_link_hover: #efc05d;
$_header_link_active: #fbeeb9;

$_hero_title: #fbeeb9;
$_hero_text: #fcf9ec;
$_hero_btn_bg: #ffffff;
$_hero_btn_bg_hover: #efbf5d;
$_hero_btn_bg_active: #ffe0a1;
$_hero_btn_text: #414141;
$_hero_btn_text_hover_active: #3b242a;
$_hero_box_shadow: 8px 11px 29px 0px #000000c9, 33px 42px 54px 0px #000000ad,
  74px 95px 72px 0px #00000066, 131px 170px 86px 0px #0000001f,
  205px 265px 94px 0px #00000003;
$_hero_linear_gradient: linear-gradient(
  273.73deg,
  rgba(255, 255, 255, 0.0378) 1.7%,
  rgba(57, 57, 57, 0.443866) 51.12%,
  rgba(10, 10, 10, 0.54) 97.14%
);
$_hero_border_pic_mobile: 4px solid #ffffff;
$_hero_border_pic_desktop: 6px solid #ffffff;

$_benefits_background: linear-gradient(180deg, #f1c25e 0%, #b58a32 100%);
$_benefits_brown: #3b242a;

$_game_description_text: #3b242a;
$_game_description_background_mobile: linear-gradient(
  180deg,
  #b58a32 0%,
  #f1c25e 100%
);
$_game_description_background_desktop: linear-gradient(
  180deg,
  #b58a32 0%,
  #bc9137 37.5%,
  #f1c25e 100%
);

$_gallery_bg_mobil: linear-gradient(180deg, #f1c25e 0%, #ddb362 90.49%);
$_gallery_bg_desktop: linear-gradient(
  180deg,
  #f1c25e 2.75%,
  #eabb59 32%,
  #bc9137 72.5%,
  #b58a32 100%
);
$_gallery_title_color: #3b242a;
$_gallery_bullet_bg_color: #3b242a80;
$_gallery_bullet_active_bg_color: #3b242a;

$_key_features_bg_number: #3b242a;
$_key_features_number: #ffffff;

$_key_features_text: #3b242a;
$_key_features_bg_desktop: linear-gradient(
  180deg,
  #b58a32 0%,
  #bc9137 37.5%,
  #f1c25e 100%
);
$_key_features_bg_mobile: linear-gradient(
  180deg,
  #dcb361 0%,
  #ebc878 10%,
  #edcf74 29.5%,
  #f9b958 100%
);

$_main_characters_text: #3b242a;
$_main_characters_background_mobile: linear-gradient(
  180deg,
  #f8b857 0%,
  #cf9928 100%
);
$_main_characters_background_desktop: linear-gradient(
  180deg,
  #f1c25e 12.64%,
  #bc9137 37.5%,
  #b58a32 100%
);

$_reviews_text: #3b242a;
$_reviews_bg_mobile: linear-gradient(180deg, #d09a29 0%, #ffb417 100%);
$_reviews_bg_desktop: linear-gradient(
  180deg,
  #b58a32 0%,
  #c79733 18.5%,
  #ebb647 41%,
  #ffb516 100%
);

$_reviews_bg_item: #ffffff33;
$_reviews_bullet_bg_color: #3b242a80;
$_reviews_bullet_active_bg_color: #3b242a;

$_legal_color: #ffff;
$_legal_title_color: #ffdc18;
$_legal_bg_color: #11171c;
$_legal_accent_color: #efbf5d;
$_legal_visited_color: #ffe0a1;
$_footer_bg_color: #000000;

$_Popup_cookies_bg_color: #ffff;
$_Popup_cookies_color: #414141;
$_Popup_cookies_color_white: #ffff;
$_Popup_cookies_btn_bg: #3b242a;
$_Popup_cookies_btn_border: #8d5664;
$_Popup_cookies_btn_accept_accent: #efbf5d;
$_Popup_cookies_btn_accept_pressed: #ffe0a1;
$_Popup_cookies_btn_decline_accent: #ffefcd;
$_Popup_cookies_btn_decline_pressed: #fff3da;

$_menu_bg_item: #3b242a;
$_menu_text: #ffffff;
