<section id="benefits" class="benefits">
  <div class="benefits-bg">
    <div class="benefits-container">
      <h2 class="benefits-title">benefits</h2>
      <ul class="benefits-list">
        <li class="benefits-item">
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/medal_mobile.png    1x,
                ./img/img/medal_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/medal-desktop.png    1x,
                ./img/img/medal-desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="img-medal"
              src="./img/img/medal-desktop.png"
              alt="medal"
              width="100"
              height="113"
              loading="lazy"
            />
          </picture>
          <div class="benefits-item-text">
            <h3 class="benefits-item-title">Immersive RPG Experience</h3>
            <p class="benefits-item-description">
              Explore a vast world where every choice shapes your adventure.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/medal_mobile.png    1x,
                ./img/img/medal_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/medal-desktop.png    1x,
                ./img/img/medal-desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="img-medal"
              src="./img/img/medal-desktop.png"
              alt="medal"
              width="100"
              height="113"
              loading="lazy"
            />
          </picture>
          <div class="benefits-item-text">
            <h3 class="benefits-item-title">Dynamic Combat System</h3>
            <p class="benefits-item-description">
              Master a mix of melee attacks, ranged weapons, and powerful magic.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/medal_mobile.png    1x,
                ./img/img/medal_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/medal-desktop.png    1x,
                ./img/img/medal-desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="img-medal"
              src="./img/img/medal-desktop.png"
              alt="medal"
              width="100"
              height="113"
              loading="lazy"
            />
          </picture>
          <div class="benefits-item-text">
            <h3 class="benefits-item-title">Customization & Progression</h3>
            <p class="benefits-item-description">
              Upgrade your hero with skills, weapons, and armor to suit your
              playstyle.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/medal_mobile.png    1x,
                ./img/img/medal_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/medal-desktop.png    1x,
                ./img/img/medal-desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="img-medal"
              src="./img/img/medal-desktop.png"
              alt="medal"
              width="100"
              height="113"
              loading="lazy"
            />
          </picture>
          <div class="benefits-item-text">
            <h3 class="benefits-item-title">Epic Storyline</h3>
            <p class="benefits-item-description">
              Unravel the mysteries of the Eternal Realm and make crucial
              decisions.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/medal_mobile.png    1x,
                ./img/img/medal_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/medal-desktop.png    1x,
                ./img/img/medal-desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="img-medal"
              src="./img/img/medal-desktop.png"
              alt="medal"
              width="100"
              height="113"
              loading="lazy"
            />
          </picture>
          <div class="benefits-item-text">
            <h3 class="benefits-item-title">Challenging Boss Fights</h3>
            <p class="benefits-item-description">
              Face off against legendary creatures and powerful enemies.
            </p>
          </div>
        </li>

        <li class="benefits-item">
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/medal_mobile.png    1x,
                ./img/img/medal_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/medal-desktop.png    1x,
                ./img/img/medal-desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="img-medal"
              src="./img/img/medal-desktop.png"
              alt="medal"
              width="100"
              height="113"
              loading="lazy"
            />
          </picture>

          <div class="benefits-item-text">
            <h3 class="benefits-item-title">Breathtaking Visuals</h3>
            <p class="benefits-item-description">
              Experience high-quality graphics and stunning fantasy landscapes.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/medal_mobile.png    1x,
                ./img/img/medal_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/medal-desktop.png    1x,
                ./img/img/medal-desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="img-medal"
              src="./img/img/medal-desktop.png"
              alt="medal"
              width="100"
              height="113"
              loading="lazy"
            />
          </picture>

          <div class="benefits-item-text">
            <h3 class="benefits-item-title">Endless Adventure</h3>
            <p class="benefits-item-description">
              With quests, dungeons, and hidden secrets, the world is yours to
              explore.
            </p>
          </div>
        </li>
      </ul>
      <picture>
        <source
          media="(max-width: 1200px)"
          srcset="
            ./img/img/benefits/dragon_mobile.png    1x,
            ./img/img/benefits/dragon_mobile@2x.png 2x
          "
          type="image"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/img/benefits/Dragon_pic_desktop.png    1x,
            ./img/img/benefits/Dragon_pic_desktop@2x.png 2x
          "
          type="image"
        />
        <img
          class="benefits-dragon"
          src="./img/img/benefits/Dragon_pic_desktop.png"
          alt="Dragon"
          width="383"
          height="264"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
