<footer class="footer">
  <div class="container footer-container">
    <ul class="legal-links">
      <li class="legal-link-item">
        <a class="legal-link" href="./privacy-policy.html">Privacy Policy</a>
      </li>
      <li class="legal-link-item">
        <a class="legal-link" href="./terms-conditions.html"
          >Terms and Conditions</a
        >
      </li>
      <li class="legal-link-item">
        <a class="legal-link" href="./cookies-policy.html">Cookie Policy</a>
      </li>
    </ul>
    <div class="legal-text">
      <p class="legal-text">All rights reserved epiclightplay.com | 2025</p>
    </div>
  </div>
</footer>
