<section id="gallery" class="gallery">
  <div class="gallery-bg">
    <div class="gallery-container">
      <h2 class="gallery-title">Gallery</h2>
      <!-- Gallery swiper -->
      <div class="swiper gallery-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_25_mobile.png    1x,
                  ./img/img/gallery/image_25_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_25_desktop.png    1x,
                  ./img/img/gallery/image_25_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_25_mobile.png"
                alt="Game picture 1"
                class="gallery-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_23_mobile.png    1x,
                  ./img/img/gallery/image_23_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_23_desktop.png    1x,
                  ./img/img/gallery/image_23_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_23_mobile.png"
                alt="Game picture 2"
                class="gallery-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_20_mobile.png    1x,
                  ./img/img/gallery/image_20_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_20_desktop.png    1x,
                  ./img/img/gallery/image_20_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_20_mobile.png"
                alt="Game picture 3"
                class="gallery-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_24_mobile.png    1x,
                  ./img/img/gallery/image_24_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_24_desktop.png    1x,
                  ./img/img/gallery/image_24_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_24_mobile.png"
                alt="Game picture 4"
                class="gallery-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_22_mobile.png    1x,
                  ./img/img/gallery/image_22_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_22_desktop.png    1x,
                  ./img/img/gallery/image_22_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_22_mobile.png"
                alt="Game picture 5"
                class="gallery-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-bullet"></div>
        <div class="sword">
          <picture>
            <source
              srcset="
                ./img/img/gallery/sword_mobile.png    1x,
                ./img/img/gallery/sword_mobile@2x.png 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              src="./img/img/gallery/sword_mobile.png"
              alt="Game picture 5"
              class="sword-img"
            />
          </picture>
        </div>
      </div>
      <!-- Gallery static -->
      <div class="gallery-static">
        <div class="gallery-static-wrapper">
          <div class="gallery-static-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_25_mobile.png    1x,
                  ./img/img/gallery/image_25_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_25_desktop.png    1x,
                  ./img/img/gallery/image_25_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_25_mobile.png"
                alt="Game picture 1"
                class="gallery-static-img"
              />
            </picture>
          </div>
          <div class="gallery-static-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_23_mobile.png    1x,
                  ./img/img/gallery/image_23_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_23_desktop.png    1x,
                  ./img/img/gallery/image_23_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_23_mobile.png"
                alt="Game picture 2"
                class="gallery-static-img"
              />
            </picture>
          </div>
          <div class="gallery-static-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_20_mobile.png    1x,
                  ./img/img/gallery/image_20_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_20_desktop.png    1x,
                  ./img/img/gallery/image_20_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_20_mobile.png"
                alt="Game picture 3"
                class="gallery-static-img"
              />
            </picture>
          </div>
          <div class="gallery-static-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_24_mobile.png    1x,
                  ./img/img/gallery/image_24_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_24_desktop.png    1x,
                  ./img/img/gallery/image_24_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_24_mobile.png"
                alt="Game picture 4"
                class="gallery-static-img"
              />
            </picture>
          </div>
          <div class="gallery-static-slide">
            <picture>
              <source
                srcset="
                  ./img/img/gallery/image_22_mobile.png    1x,
                  ./img/img/gallery/image_22_mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  ./img/img/gallery/image_22_desktop.png    1x,
                  ./img/img/gallery/image_22_desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/img/gallery/image_22_mobile.png"
                alt="Game picture 5"
                class="gallery-static-img"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
