<header class="header-header">
  <div class="header-container">
    <button class="btn-burger">
      <svg width="24" height="24">
        <use
          class="icon-burger"
          href="./assets/icon/symbol-defs.svg#icon-burger"
        ></use>
      </svg>
    </button>

    <!-- <picture>
      <img
        class="header-logo"
        srcset="
          ./assets/img/logo_mobile.png    1x,
          ./assets/img/logo_mobile@2x.png 2x
        "
        src="./assets/img/logo_mobile.png"
        alt="logo"
        width="71"
        height="40.07"
        loading="lazy"
        title="logo"
      />
    </picture> -->

    <picture>
      <source
        media="(max-width: 1200px)"
        srcset="
          ./assets/img/logo_mobile.png    1x,
          ./assets/img/logo_mobile@2x.png 2x
        "
        type="image"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./assets/img/logo_desktop1x.png 1x,
          ./assets/img/logo_desktop2x.png 2x
        "
        type="image"
      />
      <img
        class="header-logo"
        src="./assets/img/logo_desktop1x.png"
        alt="Icon-logo"
        width="101"
        height="57"
        loading="lazy"
      />
    </picture>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#benefits" class="nav-link">Benefits</a>
        </li>

        <li class="nav-item">
          <a href="#game-description" class="nav-link">Game Description</a>
        </li>
        <li class="nav-item">
          <a href="#gallery" class="nav-link">Gallery</a>
        </li>

        <li class="nav-item">
          <a href="#key-features" class="nav-link">Key Features</a>
        </li>
        <li class="nav-item">
          <a href="#main-characters-description" class="nav-link"
            >Main Characters Description</a
          >
        </li>

        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- burger menu -->

  <div class="burger-backdrop">
    <div class="burger-menu">
      <ul class="menu-list">
        <li class="menu-item"><a class="menu-link">Benefits</a></li>
        <li class="menu-item"><a class="menu-link">Game Description</a></li>
        <li class="menu-item"><a class="menu-link">Gallery</a></li>
        <li class="menu-item"><a class="menu-link">Key Features</a></li>
        <li class="menu-item">
          <a class="menu-link">Main Characters Description</a>
        </li>
        <li class="menu-item"><a class="menu-link">Reviews</a></li>
      </ul>
    </div>
  </div>
</header>
