<header class="header">
  header
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#benefits" class="nav-link">Benefits</a>
      </li>

      <li class="nav-item">
        <a href="#game-description" class="nav-link">Game Description</a>
      </li>
      <li class="nav-item">
        <a href="#gallery" class="nav-link">Gallery</a>
      </li>

      <li class="nav-item">
        <a href="#key-features" class="nav-link">Key Features</a>
      </li>
      <li class="nav-item">
        <a href="#main-characters-description" class="nav-link"
          >Main Characters Description</a
        >
      </li>

      <li class="nav-item">
        <a href="#reviews" class="nav-link">Reviews</a>
      </li>
    </ul>
  </nav>
</header>
