<section class="hero">
  <div class="hero-blur"></div>

  <div class="hero-container">
    <h1 class="hero-title">Eternal Hero: Action RPG – Forge Your Destiny!</h1>
    <div class="hero-content">
      <p class="hero-text">
        Unleash Your Power, Conquer the Darkness, and Become the Eternal Hero!
      </p>
    </div>

    <div class="hero-box-btn">
      <button class="hero-btn">
        <picture>
          <source
            media="(max-width: 1200px)"
            srcset="
              ./img/img/Google_Play_mobile.png    1x,
              ./img/img/Google_Play_mobile@2x.png 2x
            "
            type="image"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/img/Google_Play_desktop.png    1x,
              ./img/img/Google_Play_desktop@2x.png 2x
            "
            type="image"
          />
          <img
            class="icon-google-play"
            src="./img/img/Google_Play_desktop.png"
            alt="Icon Google play"
            width="38"
            height="38"
            loading="lazy"
          />
        </picture>

        <span class="hero-btn-text">download now</span>
      </button>
      <span class="hero-box-btn-text">Begin Your Legendary Journey Today!</span>
    </div>
  </div>
  <div class="hero-img-position">
    <picture>
      <source
        media="(max-width: 1200px)"
        srcset="
          ./img/img/hero/pic_mobile.png    1x,
          ./img/img/hero/pic_mobile@2x.png 2x
        "
        type="image"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/img/hero/Hero_pic_desktop.png    1x,
          ./img/img/hero/Hero_pic_desktop@2x.png 2x
        "
        type="image"
      />
      <img
        class="pic"
        src="./img/img/hero/Hero_pic_desktop.png"
        alt="pic"
        width="244"
        height="401"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        media="(max-width: 1200px)"
        srcset="
          ./img/img/hero/arrow_up_mobile.png    1x,
          ./img/img/hero/arrow_up_mobile@2x.png 2x
        "
        type="image"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/img/hero/arrow_up_desktop.png    1x,
          ./img/img/hero/arrow_up_desktop@2x.png 2x
        "
        type="image"
      />
      <img
        class="arrow_up"
        src="./img/img/hero/arrow_up_desktop.png"
        alt="Arrow-up"
        width="109.6"
        height="220"
        loading="lazy"
      />
    </picture>
  </div>
</section>
