<section class="key-features" id="key-features">
  <div class="key-features-container">
    <h2 class="key-features-title">key features</h2>
    <ol class="key-features-list">
      <li class="key-features-item">
        <h3 class="key-features-item-title">Open-World Exploration</h3>
        <p class="key-features-item-text">
          Roam a vast fantasy world full of secrets and hidden treasures.
        </p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title">Real-Time Combat</h3>
        <p class="key-features-item-text">
           Engage in action-packed battles with fluid and responsive controls.
        </p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title">Weapon & Magic Mastery</h3>
        <p class="key-features-item-text">
          Choose your playstyle with a variety of swords, bows, and powerful
          spells.
        </p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title">Character Customization</h3>
        <p class="key-features-item-text">
          Upgrade your hero’s abilities, skills, <br />
          equipment.
        </p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title">Decision-Based Storyline</h3>
        <p class="key-features-item-text">
          Your choices affect the world, shaping allies and enemies.
        </p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title">Challenging Dungeons & Bosses</h3>
        <p class="key-features-item-text">
          Test your skills against powerful adversaries in epic battles.
        </p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title">Multiplayer & Events</h3>
        <p class="key-features-item-text">
          Join forces with other players in special events and challenges.
        </p>
      </li>
    </ol>
  </div>
</section>
