<section class="key-features" id="key-features">
  <div class="key-features-bg"></div>
  <div>
    <h2 class="key-features-title"></h2>
    <ul class="key-features-list">
      <li class="key-features-item">
        <h3 class="key-features-item-title"></h3>
        <p class="key-features-item-text"></p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title"></h3>
        <p class="key-features-item-text"></p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title"></h3>
        <p class="key-features-item-text"></p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title"></h3>
        <p class="key-features-item-text"></p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title"></h3>
        <p class="key-features-item-text"></p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title"></h3>
        <p class="key-features-item-text"></p>
      </li>
      <li class="key-features-item">
        <h3 class="key-features-item-title"></h3>
        <p class="key-features-item-text"></p>
      </li>
    </ul>
  </div>
</section>
