<!-- Popup Cookies Consent Box -->
<div class="modal-cookies">
  <div class="modal-cookies-wrapper">
    <div class="modal-cookies-date">
      <div class="modal-cookies-title-wrapper">
        <h1 class="modal-cookies-title">Our Cookie Policy</h1>
      </div>
      <p class="modal-cookies-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="buttons">
      <button class="button accept" id="acceptBtn">Accept cookies</button>
      <button class="button decline">Decline cookies</button>
    </div>
  </div>
</div>
