<section class="reviews">
  <div id="reviews" class="reviews-scroll"></div>
  <div class="reviews-bg">
    <div class="reviews-container">
      <h2 class="reviews-title">Reviews</h2>
      <div class="reviews-wrapper reviews-swiper">
        <ul class="reviews-list swiper-wrapper">
          <li class="reviews-item swiper-slide">
            <div class="reviews-item-blur"></div>
            <div class="reviews-item-box">
              <picture>
                <source
                  media="(max-width: 1200px)"
                  srcset="
                    ./img/img/reviews/michael_mobile.png    1x,
                    ./img/img/reviews/michael_mobile@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/img/reviews/michael_desktop.png    1x,
                    ./img/img/reviews/michael_desktop@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  class="reviews-photo"
                  src="./img/img/reviews/michael_desktop.png"
                  alt="photo"
                  width="22"
                  height="22"
                  loading="lazy"
                />
              </picture>
              <h3 class="reviews-item-title">Michael R</h3>
            </div>
            <p class="reviews-item-text">
              An incredible RPG with deep mechanics and a fantastic world to
              explore!
            </p>
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_mobile.png    1x,
                  ./img/img/reviews/star_big_mobile@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_desktop.png    1x,
                  ./img/img/reviews/star_big_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/star_big_desktop.png"
                alt="Star"
                width="46"
                height="46"
                loading="lazy"
              />
            </picture>
            <picture>
              <source
                media="(max-width: 1200px)"
                type="image/png"
                srcset="
                  ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                  ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
                "
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/yellow_star_desktop.png    1x,
                  ./img/img/reviews/yellow_star_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-yellow-star"
                src="./img/img/reviews/yellow_star_desktop.png"
                alt="yellow star"
                width="22"
                height="22"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="reviews-item swiper-slide">
            <div class="reviews-item-box">
              <picture>
                <source
                  media="(max-width: 1200px)"
                  srcset="
                    ./img/img/reviews/emily_mobile.png    1x,
                    ./img/img/reviews/emily_mobile@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/img/reviews/emily_desktop.png    1x,
                    ./img/img/reviews/emily_desktop@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  class="reviews-photo"
                  src="./img/img/reviews/emily_desktop.png"
                  alt="photo"
                  width="22"
                  height="22"
                  loading="lazy"
                />
              </picture>
              <h3 class="reviews-item-title">Emily L</h3>
            </div>
            <p class="reviews-item-text">
              Gorgeous visuals, epic battles, and a gripping story—this game has
              it all!
            </p>
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_mobile.png    1x,
                  ./img/img/reviews/star_big_mobile@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_desktop.png    1x,
                  ./img/img/reviews/star_big_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/star_big_desktop.png"
                alt="Star"
                width="46"
                height="46"
                loading="lazy"
              />
            </picture>
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                  ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/yellow_star_desktop.png    1x,
                  ./img/img/reviews/yellow_star_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-yellow-star"
                src="./img/img/reviews/yellow_star_desktop.png"
                alt="yellow star"
                width="22"
                height="22"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="reviews-item swiper-slide">
            <div class="reviews-item-box">
              <picture>
                <source
                  media="(max-width: 1200px)"
                  srcset="
                    ./img/img/reviews/sophia_mobile.png    1x,
                    ./img/img/reviews/sophia_mobile@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/img/reviews/sophia_desktop.png    1x,
                    ./img/img/reviews/sophia_desktop@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  class="reviews-photo"
                  src="./img/img/reviews/sophia_desktop.png"
                  alt="photo"
                  width="22"
                  height="22"
                  loading="lazy"
                />
              </picture>
              <h3 class="reviews-item-title">Sophia T</h3>
            </div>
            <p class="reviews-item-text">
              The combat is smooth, and I love the variety of weapons and
              spells!
            </p>
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_mobile.png    1x,
                  ./img/img/reviews/star_big_mobile@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_desktop.png    1x,
                  ./img/img/reviews/star_big_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/star_big_desktop.png"
                alt="Star"
                width="46"
                height="46"
                loading="lazy"
              />
            </picture>
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                  ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/yellow_star_desktop.png    1x,
                  ./img/img/reviews/yellow_star_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-yellow-star"
                src="./img/img/reviews/yellow_star_desktop.png"
                alt="yellow star"
                width="22"
                height="22"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="reviews-item swiper-slide">
            <div class="reviews-item-box">
              <picture>
                <source
                  media="(max-width: 1200px)"
                  srcset="
                    ./img/img/reviews/daniel_mobile.png    1x,
                    ./img/img/reviews/daniel_mobile@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/img/reviews/daniel_desktop.png    1x,
                    ./img/img/reviews/daniel_desktop@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  class="reviews-photo"
                  src="./img/img/reviews/daniel_desktop.png"
                  alt="photo"
                  width="22"
                  height="22"
                  loading="lazy"
                />
              </picture>
              <h3 class="reviews-item-title">Daniel M</h3>
            </div>
            <p class="reviews-item-text">
              Finally, an RPG where choices actually matter! A must-play!
            </p>
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_mobile.png    1x,
                  ./img/img/reviews/star_big_mobile@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_desktop.png    1x,
                  ./img/img/reviews/star_big_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/star_big_desktop.png"
                alt="Star"
                width="46"
                height="46"
                loading="lazy"
              />
            </picture>
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                  ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/yellow_star_desktop.png    1x,
                  ./img/img/reviews/yellow_star_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-yellow-star"
                src="./img/img/reviews/yellow_star_desktop.png"
                alt="yellow star"
                width="22"
                height="22"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="reviews-item swiper-slide">
            <div class="reviews-item-box">
              <picture>
                <source
                  media="(max-width: 1200px)"
                  srcset="
                    ./img/img/reviews/chris_mobile.png    1x,
                    ./img/img/reviews/chris_mobile@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/img/reviews/chris_desktop.png    1x,
                    ./img/img/reviews/chris_desktop@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  class="reviews-photo"
                  src="./img/img/reviews/chris_desktop.png"
                  alt="photo"
                  width="22"
                  height="22"
                  loading="lazy"
                />
              </picture>
              <h3 class="reviews-item-title">Chris W</h3>
            </div>
            <p class="reviews-item-text">
              If you love action RPGs, this one is a masterpiece! Highly
              recommended!
            </p>
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_mobile.png    1x,
                  ./img/img/reviews/star_big_mobile@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/star_big_desktop.png    1x,
                  ./img/img/reviews/star_big_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/star_big_desktop.png"
                alt="Star"
                width="46"
                height="46"
                loading="lazy"
              />
            </picture>
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                  ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/yellow_star_desktop.png    1x,
                  ./img/img/reviews/yellow_star_desktop@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="reviews-yellow-star"
                src="./img/img/reviews/yellow_star_desktop.png"
                alt="yellow star"
                width="22"
                height="22"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
