<section id="reviews" class="reviews">
  <div class="reviews-bg">
    <div class="reviews-container">
      <h2 class="reviews-title">Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-item-box">
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/michael_mobile.png    1x,
                  ./img/img/reviews/michael_mobile@2x.png 2x
                "
                type="image"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/michael_desktop.png    1x,
                  ./img/img/reviews/michael_desktop@2x.png 2x
                "
                type="image"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/michael_desktop.png"
                alt="photo"
                width="21.91"
                height="21.91"
                loading="lazy"
              />
            </picture>
            <h3 class="reviews-item-title">Michael R</h3>
          </div>
          <p class="reviews-item-text">
            An incredible RPG with deep mechanics and a fantastic world to
            explore!
          </p>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_mobile.png    1x,
                ./img/img/reviews/star_big_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_desktop.png    1x,
                ./img/img/reviews/star_big_desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="reviews-star"
              src="./img/img/reviews/star_big_desktop.png"
              alt="Star"
              width="46.16"
              height="46.16"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
              ./img/img/reviews/plastic yellow star_desktop.png    1x,
              ./img/img/reviews/plastic yellow star_desktop@2x.png 2x
            "
              type="image"
            />
            <img
              class="reviews-yellow-star"
              src="./img/img/reviews/plastic yellow star_desktop.png"
              alt="yellow star"
              width="20.62"
              height="21.37"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="reviews-item">
          <div class="reviews-item-box">
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/emily_mobile.png    1x,
                  ./img/img/reviews/emily_mobile@2x.png 2x
                "
                type="image"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/emily_desktop.png    1x,
                  ./img/img/reviews/emily_desktop@2x.png 2x
                "
                type="image"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/emily_desktop.png"
                alt="photo"
                width="21.91"
                height="21.91"
                loading="lazy"
              />
            </picture>
            <h3 class="reviews-item-title">Michael R</h3>
          </div>
          <p class="reviews-item-text">
            An incredible RPG with deep mechanics and a fantastic world to
            explore!
          </p>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_mobile.png    1x,
                ./img/img/reviews/star_big_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_desktop.png    1x,
                ./img/img/reviews/star_big_desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="reviews-star"
              src="./img/img/reviews/star_big_desktop.png"
              alt="Star"
              width="46.16"
              height="46.16"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
              ./img/img/reviews/plastic yellow star_desktop.png    1x,
              ./img/img/reviews/plastic yellow star_desktop@2x.png 2x
            "
              type="image"
            />
            <img
              class="reviews-yellow-star"
              src="./img/img/reviews/plastic yellow star_desktop.png"
              alt="yellow star"
              width="20.62"
              height="21.37"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="reviews-item">
          <div class="reviews-item-box">
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/sophia_mobile.png    1x,
                  ./img/img/reviews/sophia_mobile@2x.png 2x
                "
                type="image"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/sophia_desktop.png    1x,
                  ./img/img/reviews/sophia_desktop@2x.png 2x
                "
                type="image"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/sophia_desktop.png"
                alt="photo"
                width="21.91"
                height="21.91"
                loading="lazy"
              />
            </picture>
            <h3 class="reviews-item-title">Michael R</h3>
          </div>
          <p class="reviews-item-text">
            An incredible RPG with deep mechanics and a fantastic world to
            explore!
          </p>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_mobile.png    1x,
                ./img/img/reviews/star_big_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_desktop.png    1x,
                ./img/img/reviews/star_big_desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="reviews-star"
              src="./img/img/reviews/star_big_desktop.png"
              alt="Star"
              width="46.16"
              height="46.16"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
              ./img/img/reviews/plastic yellow star_desktop.png    1x,
              ./img/img/reviews/plastic yellow star_desktop@2x.png 2x
            "
              type="image"
            />
            <img
              class="reviews-yellow-star"
              src="./img/img/reviews/plastic yellow star_desktop.png"
              alt="yellow star"
              width="20.62"
              height="21.37"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="reviews-item">
          <div class="reviews-item-box">
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/daniel_mobile.png    1x,
                  ./img/img/reviews/daniel_mobile@2x.png 2x
                "
                type="image"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/daniel_desktop.png    1x,
                  ./img/img/reviews/daniel_desktop@2x.png 2x
                "
                type="image"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/daniel_desktop.png"
                alt="photo"
                width="21.91"
                height="21.91"
                loading="lazy"
              />
            </picture>
            <h3 class="reviews-item-title">Michael R</h3>
          </div>
          <p class="reviews-item-text">
            An incredible RPG with deep mechanics and a fantastic world to
            explore!
          </p>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_mobile.png    1x,
                ./img/img/reviews/star_big_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_desktop.png    1x,
                ./img/img/reviews/star_big_desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="reviews-star"
              src="./img/img/reviews/star_big_desktop.png"
              alt="Star"
              width="46.16"
              height="46.16"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
              ./img/img/reviews/plastic yellow star_desktop.png    1x,
              ./img/img/reviews/plastic yellow star_desktop@2x.png 2x
            "
              type="image"
            />
            <img
              class="reviews-yellow-star"
              src="./img/img/reviews/plastic yellow star_desktop.png"
              alt="yellow star"
              width="20.62"
              height="21.37"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="reviews-item">
          <div class="reviews-item-box">
            <picture>
              <source
                media="(max-width: 1200px)"
                srcset="
                  ./img/img/reviews/chris_mobile.png    1x,
                  ./img/img/reviews/chris_mobile@2x.png 2x
                "
                type="image"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/img/reviews/chris_desktop.png    1x,
                  ./img/img/reviews/chris_desktop@2x.png 2x
                "
                type="image"
              />
              <img
                class="reviews-star"
                src="./img/img/reviews/chris_desktop.png"
                alt="photo"
                width="21.91"
                height="21.91"
                loading="lazy"
              />
            </picture>
            <h3 class="reviews-item-title">Michael R</h3>
          </div>
          <p class="reviews-item-text">
            An incredible RPG with deep mechanics and a fantastic world to
            explore!
          </p>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_mobile.png    1x,
                ./img/img/reviews/star_big_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/img/reviews/star_big_desktop.png    1x,
                ./img/img/reviews/star_big_desktop@2x.png 2x
              "
              type="image"
            />
            <img
              class="reviews-star"
              src="./img/img/reviews/star_big_desktop.png"
              alt="Star"
              width="46.16"
              height="46.16"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 1200px)"
              srcset="
                ./img/img/reviews/plastic_yellow_star_mobile.png    1x,
                ./img/img/reviews/plastic_yellow_star_mobile@2x.png 2x
              "
              type="image"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
              ./img/img/reviews/plastic yellow star_desktop.png    1x,
              ./img/img/reviews/plastic yellow star_desktop@2x.png 2x
            "
              type="image"
            />
            <img
              class="reviews-yellow-star"
              src="./img/img/reviews/plastic yellow star_desktop.png"
              alt="yellow star"
              width="20.62"
              height="21.37"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
