.benefits {
  width: 100%;
  background: $_benefits_background;
  overflow: hidden;
}
.benefits-bg {
  background-image: url('../img/img/benefits/Benefits_BG_mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/img/benefits/Benefits_BG_mobile@2x.png');
  }

  @include media(desktop) {
    background-image: url('../img/img/benefits/benefits_BG_desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/img/benefits/benefits_BG_desktop@2x.png');
    }
  }
}
.benefits-container {
  position: relative;
  padding: 24px;
  color: $_benefits_brown;
  scroll-margin-top: 72px;
  @include media(desktop) {
    padding: 80px 32px;
    height: 1132px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    scroll-margin-top: 113px;
  }
}
.benefits-title {
  font-family: Fredoka;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: $_benefits_brown;
  text-transform: capitalize;
  text-align: center;

  @include media(desktop) {
    font-size: 45px;
    margin-bottom: 40px;
  }
}
.benefits-list {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.img-medal {
  width: 73.71px;
  height: 82.96px;
  @include media(desktop) {
    width: 100px;
    height: 113px;
  }
}

.benefits-item {
  padding: 17.69px 17.69px 22.15px 17.69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include media(desktop) {
    position: absolute;
    width: 369px;
    height: 256px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 35px;
    padding-left: 24px;
  }
}
.benefits-item-text {
  display: flex;
  flex-direction: column;
  gap: 5.9px;
}
.benefits-item-title {
  font-family: Fredoka;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  @include media(desktop) {
    font-size: 24px;
  }
}

.benefits-item-description {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  @include media(desktop) {
    font-size: 16px;
  }
}

.benefits-item:nth-child(1) {
  top: 106px;
  left: 0;
}
.benefits-item:nth-child(2) {
  top: 0;
  left: 383px;
}
.benefits-item:nth-child(3) {
  top: 106px;
  right: 0;
}
.benefits-item:nth-child(4) {
  top: 410px;
  left: 0;
}
.benefits-item:nth-child(5) {
  top: 304px;
  left: 383px;
}
.benefits-item:nth-child(6) {
  top: 410px;
  right: 0;
}
.benefits-item:nth-child(7) {
  left: 383px;
  top: 608px;
}

.benefits-dragon {
  position: absolute;
  right: -62px;
  bottom: 105.23px;
  width: 209px;
  height: 144px;
  @include media(desktop) {
    width: 383px;
    height: 264px;
    bottom: 40px;
    left: 136px;
  }
}
