.legal-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;

  padding: 24px 24px 16px 24px;

  color: $_legal_color;
  background-color: $_legal_bg_color;

  @include media(desktop) {
    padding: 40px 32px;
  }
}

main {
  background-color: $_legal_bg_color;
  color: $_legal_color;
}

.legal-container {
  padding: 24px;

  @include media(desktop) {
    padding: 40px 32px;
  }
}

.home-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  color: inherit;

  transition: color 0.3s ease;

  @include media(desktop) {
    &:hover,
    &:focus {
      color: $_legal_accent_color;
    }
  }
}

.legal-icon {
  width: 12px;
  height: 24px;
  fill: currentColor;

  stroke: currentColor;

  transition: fill 0.3s ease, stroke 0.3s ease;

  @include media(desktop) {
    .home-link:hover &,
    .home-link:focus & {
      fill: $_legal_accent_color;
      stroke: $_legal_accent_color;
    }
  }
}

.icon-arrow {
  fill: inherit;
  stroke: inherit;
}

.section-title {
  color: $_legal_title_color;
  text-align: center;
}

.section-text {
  margin-bottom: 16px;

  font-family: Open Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;

  @include media(desktop) {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 24px;
  }
}

.section-text:last-child {
  margin-bottom: 0;
}

.cookies-section-main-title {
  padding: 40px 0 16px 0;

  font-family: Fredoka, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;

  @include media(desktop) {
    padding: 74px 0 40px 0;

    font-size: 48px;
    line-height: 72px;
  }
}

.cookies-section-title {
  padding-bottom: 16px;

  font-family: Fredoka, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;

  @include media(desktop) {
    padding: 20px;

    font-size: 48px;
    line-height: 48px;
  }
}

.cookies-section-subtitle {
  padding-bottom: 16px;

  font-family: Fredoka, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;

  @include media(desktop) {
    padding: 20px 0 40px 0;

    font-size: 24px;
    line-height: 36px;
  }
}

.legal-section-list {
  list-style-type: disc;
  padding-left: 24px;
}

.legal-section-item {
  white-space: normal;
  word-break: break-word;
}

.legal-section-link {
  color: inherit;

  transition: color 0.3s ease;
  &:hover,
  &:focus {
    color: $_legal_accent_color;
  }

  &:visited {
    color: $_legal_visited_color;
  }
}
