.footer {
  background-color: $_footer_bg_color;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;

  @include media(desktop) {
    gap: 56px;
    padding: 40px 47px;
  }
}

.legal-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-family: Fredoka, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0;
  color: $_legal_color;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 260px;

    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
}

.legal-text {
  font-family: Fredoka, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: $_legal_color;

  @include media(desktop) {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
}
