.gallery {
  width: 100%;
  max-height: 345px;
  height: auto;
  background: $_gallery_bg_mobil;

  scroll-margin-top: 65px;

  @include media(desktop) {
    max-height: none;

    background: $_gallery_bg_desktop;

    scroll-margin-top: 113px;
  }
}

.gallery-bg {
  background-image: none;

  @include media(desktop) {
    background-image: url('../img/img/gallery/Gallery_BG_desktop.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/img/gallery/Gallery_BG_desktop@2x.png');
    }
  }
}

.gallery-container {
  padding: 24px;

  @include media(desktop) {
    padding: 80px 61px;
  }
}

.gallery-title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24.2px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-family: Fredoka, sans-serif;
  text-align: center;

  color: $_gallery_title_color;

  @include media(desktop) {
    margin-bottom: 40px;

    font-size: 45px;
  }
}

.gallery-swiper {
  max-width: 296px;
  margin: 0 auto;

  display: block;

  @include media(desktop) {
    max-width: none;

    display: none;
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.gallery-swiper.swiper-wrapper {
  padding-bottom: 20px;
}

.gallery-img {
  border-radius: 3.31px;
}

.swiper-pagination {
  // bottom: 10px;
  z-index: 10;

  // justify-content: center;
  // align-items: center;
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  margin: 0 5px;

  background-color: $_gallery_bullet_bg_color !important;

  opacity: 1 !important;
}

.swiper-pagination-horizontal {
  background-color: transparent !important;
}

.swiper-pagination-bullets-dynamic {
  overflow: visible !important;
}

.gallery-swiper.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 38% !important;
  top: 78% !important;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-pagination-bullet-active {
  background-color: $_gallery_bullet_active_bg_color !important;
}

.sword {
  position: relative;
  top: -52px;
}

.gallery-static {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery-static-wrapper {
  display: none;
  position: relative;
  visibility: hidden;
  width: 0;
  height: 0;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto;
    height: auto;

    visibility: visible;
  }
}

.gallery-static-img {
  border-radius: 6px;
}

.gallery-static-slide:nth-child(1) .gallery-static-img,
.gallery-static-slide:nth-child(5) .gallery-static-img {
  border-radius: 5px;
}

.gallery-static-slide:nth-child(2) .gallery-static-img,
.gallery-static-slide:nth-child(4) .gallery-static-img {
  border-radius: 6px;
}

.gallery-static-slide:nth-child(3) .gallery-static-img {
  border-radius: 7px;
}
