.game-description {
  width: 100%;
  margin: 0 auto;

  color: $_game_description_text;
  background: $_game_description_background_mobile;

  scroll-margin-top: 72px;

  @include media(desktop) {
    background: $_game_description_background_desktop;

    scroll-margin-top: 113px;
  }
}

.game-description-bg {
}

.game-description-container {
  max-width: 320px;
  margin: 0 auto;
  padding: 24px;

  background-image: url('../img/img/game_description/Game_Description_BG_mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/img/game_description/Game_Description_BG_mobile@2x.png');
  }

  @include media(desktop) {
    background-image: url('../img/img/game_description/Game_Description_BG_desktop.png');

    @media (min-resolution: 2dppx) {
      background-image: url('../img/img/game_description/Game_Description_BG_desktop@2x.png');
    }
  }
  @include media(desktop) {
    max-width: 1200px;

    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 129px;
    padding-right: 191px;
  }
}

.game-description-title {
  margin-bottom: 34px;

  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24.2px;
  line-height: 1.5em;
  letter-spacing: 0%;
  font-family: Fredoka;

  @include media(desktop) {
    font-size: 45px;
    text-align: left;
    margin-bottom: 40px;
  }
}

.game-description-img-box {
  position: relative;
}

.game-description-wrapper-img {
  width: 247.8px;
  height: 166.1px;
  margin-bottom: 16.13px;

  border-radius: 9.46px;
  border: 0.59px solid #3b242a;

  @include media(desktop) {
    width: 419.28px;
    height: 281.06px;
    margin-bottom: 0;

    border-radius: 16px;
    border-width: 1px;
  }
}

.game-description-img {
  position: absolute;
  top: -18.21px;
  left: 7.05px;

  width: 267.2px;
  height: 179.1px;

  border-radius: 9.46px;

  @include media(desktop) {
    left: 11.92px;
    top: -30.8px;

    width: 452px;
    height: 303px;
    border-radius: 16px;
  }
}
.game-description-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 92px;
  }
}

.game-description-content-box {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    width: 368px;
  }
}

.game-description-content-title {
  margin-bottom: 8px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0%;
  font-family: Fredoka;

  color: $_game_description_text;

  @include media(desktop) {
    margin-bottom: 16px;
    font-size: 24px;
  }
}

.game-description-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0%;
  font-family: Open Sans;
}

.game-description-span {
  @include media(desktop) {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0%;
    font-family: Open Sans;
  }
}
