.header {
  padding: 24px;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 177px;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: none;
  @include media(desktop) {
    display: block;
  }
}
// .nav-list {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 40px;

//   @include media(tablet) {
//     justify-content: flex-start;
//   }

//   @include media(desktop) {
//     justify-content: flex-end;
//   }
// }

// .nav-link {
//   font-weight: 500;
//   letter-spacing: 0.02em;
//   @include font(30, 40);
//   color: $_header_color;
// }

// .nav-link:hover,
// .nav-link:focus {
//   color: $_header_accent_color;
// }

.btn-burger {
  padding: 0;
  border: none;
  stroke: none;
  fill: #000000;
  background-color: transparent;
}
.burger-backdrop {
  position: relative;
  overflow: hidden;
}
.burger-menu {
  display: none;
  @include media(desktop) {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    transform: translateX(100%);
    opacity: 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('@assets/img/hero/hero_red_mobile_1x.webp');

    @media (min-resolution: 2dppx) {
      background-image: url('@assets/img/hero/hero_red_mobile_2x.webp');
      background-size: cover;
    }
  }
}
