.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  scroll-margin-top: 113px;

  background-image: linear-gradient(
      273.73deg,
      rgba(255, 255, 255, 0.0378) 1.7%,
      rgba(57, 57, 57, 0.443866) 51.12%,
      rgba(10, 10, 10, 0.54) 97.14%
    ),
    url('../img/img/hero/image_26_mobile_BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(12px);

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        273.73deg,
        rgba(255, 255, 255, 0.0378) 1.7%,
        rgba(57, 57, 57, 0.443866) 51.12%,
        rgba(10, 10, 10, 0.54) 97.14%
      ),
      url('../img/img/hero/image_26_mobile_BG@2x.png');
  }

  @include media(desktop) {
    background-image: linear-gradient(
        273.73deg,
        rgba(255, 255, 255, 0.0378) 1.7%,
        rgba(57, 57, 57, 0.443866) 51.12%,
        rgba(10, 10, 10, 0.54) 97.14%
      ),
      url('../img/img/hero/arrow_up_desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(12px);

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          273.73deg,
          rgba(255, 255, 255, 0.0378) 1.7%,
          rgba(57, 57, 57, 0.443866) 51.12%,
          rgba(10, 10, 10, 0.54) 97.14%
        ),
        url('../img/img/hero/hero_desktop_BG@2x.png');
    }
  }
}
.hero-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  z-index: -1;
}

.hero-container {
  position: relative;
  padding: 85px 24px 16px 24px;
  margin: 0 auto;
  max-width: 320px;

  @include media(desktop) {
    padding: 170px 128px 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.hero-title {
  font-family: Fredoka;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: left;
  color: $_hero_title;
  max-width: 271px;
  height: 100%;
  margin-bottom: 8px;
  text-align: center;

  @include media(desktop) {
    font-size: 48px;
    max-width: 785px;
    margin-bottom: 16px;
    text-align: left;
  }
}
.hero-text {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: $_hero_text;
  max-width: 128px;
  margin-bottom: 78px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 455px;
    margin-bottom: 23px;
    font-weight: 700;
  }
}

.hero-box-btn {
  margin: 0 auto;
  width: 200.5px;
  display: flex;
  flex-direction: column;
  gap: 9.78px;
  @include media(desktop) {
    margin: 0;
    width: 328px;
  }
}
.hero-btn {
  border: none;
  display: flex;
  width: 172.6px;
  height: 40;
  gap: 5.26px;
  padding: 9px 18px;

  border-radius: 8.42px;
  color: $_hero_btn_text;
  background-color: $_hero_btn_bg;
  transition: all 0.3s ease;

  @include media(desktop) {
    width: 100%;
    padding: 16px 30px;
    gap: 26px;
  }
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: $_hero_btn_bg_hover;
  color: $_hero_btn_text_hover_active;
}
.hero-btn:active {
  background-color: $_hero_btn_bg_active;
  color: $_hero_btn_text_hover_active;
}

.hero-btn-text {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: capitalize;
  @include media(desktop) {
    font-size: 24px;
  }
}
.hero-box-btn-text {
  font-family: Open Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: $_hero_text;
  @include media(desktop) {
    font-size: 20px;
  }
}
.icon-google-play {
  width: 20px;
  height: 20px;
  @include media(desktop) {
    width: 38px;
    height: 38px;
  }
}

.arrow_up {
  position: absolute;
  width: 26.67px;
  height: 11px;
  left: 139px;
  bottom: 170px;

  @include media(desktop) {
    width: 155px;
    height: 63.92px;
    bottom: 153px;
    left: 576px;
  }
}
.pic {
  position: absolute;
  margin-top: 7px;
  width: 93.46px;
  height: 153.59px;
  right: 43px;
  bottom: 100.04px;
  margin: 0;
  border: 4px solid #ffffff;
  border-radius: 6px;
  transform: rotate(18deg);

  @include media(desktop) {
    border-radius: 16px;
    border: 6px solid #ffffff;

    width: 244px;
    height: 401px;
    transform: rotate(18deg);

    bottom: -55px;
    right: 106.74px;

    // box-shadow: 8px 11px 29px 0px #000000c9;

    // box-shadow: 33px 42px 54px 0px #000000ad;

    // box-shadow: 74px 95px 72px 0px #00000066;

    // box-shadow: 131px 170px 86px 0px #0000001f;

    // box-shadow: 205px 265px 94px 0px #00000003;
  }
}
.hero-content {
  display: flex;
  gap: 10px;
}
