.modal-cookies {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.9s ease-in-out;

  width: 100%;
  background: $_Popup_cookies_bg_color;
}

.modal-cookies-container {
  max-width: 320px;
  margin: 0 auto;
  padding: 16px 24px;

  @include media(desktop) {
    max-width: 1200px;
    padding: 56px 246px;
  }
}

// A class to show the modal

.show {
  bottom: 0;
}

.modal-cookies-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media(desktop) {
    width: 708px;
  }
}
.modal-cookies-title {
  margin-bottom: 32px;

  font-weight: 800;
  font-size: 24px;
  line-height: 1em;
  letter-spacing: 0;
  font-family: Open Sans, sans-serif;

  color: $_Popup_cookies_color;

  @include media(desktop) {
    font-size: 48px;
  }
}

.modal-cookies-text {
  margin-bottom: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-family: Open Sans, sans-serif;

  color: $_Popup_cookies_color;

  @include media(desktop) {
    font-size: 24px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
    flex-direction: row;
    gap: 48px;
  }
}

.button {
  width: 271px;
  height: 50px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-family: Open Sans, sans-serif;

  border-radius: 16px;
  border: none;

  @include media(desktop) {
    width: 330px;
    height: 62px;

    font-size: 20px;
  }
}

.button.accept {
  color: #fff;
  background-color: $_Popup_cookies_btn_bg;

  transition: background-color 0.2s ease, color 0.2s ease;

  @include media(desktop) {
    &:hover,
    &:focus {
      color: $_Popup_cookies_btn_bg;
      background-color: $_Popup_cookies_btn_accept_accent;
    }

    &:active {
      color: $_Popup_cookies_btn_bg;
      background-color: $_Popup_cookies_btn_accept_pressed;
    }
  }
}

.button.decline {
  color: $_Popup_cookies_color;
  background-color: transparent;
  border: 1px solid $_Popup_cookies_btn_border;

  transition: background-color 0.2s ease;

  @include media(desktop) {
    &:hover,
    &:focus {
      background-color: $_Popup_cookies_btn_decline_accent;
    }

    &:active {
      background-color: $_Popup_cookies_btn_decline_pressed;
    }
  }
}
