.reviews {
  position: relative;

  width: 100%;

  color: $_reviews_text;
  background: $_reviews_bg_mobile;

  overflow: hidden;
  scroll-margin-top: 72px;

  @include media(desktop) {
    background: $_reviews_bg_desktop;

    scroll-margin-top: 113px;
  }
}

.reviews-scroll {
  position: absolute;
  top: -72px;
  left: 0;

  width: 1px;
  height: 1px;

  @include media(desktop) {
    top: -113px;
  }
}

.reviews-container {
  max-width: 320px;
  margin: 0 auto;
  padding: 24px 0;

  background-image: url('../img/img/reviews/Reviews_BG_mobile.png');
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/img/reviews/Reviews_BG_mobile@2x.png');
  }

  @include media(desktop) {
    background-image: url('../img/img/reviews/Reviews_BG_desktop.png');

    @media (min-resolution: 2dppx) {
      background-image: url('../img/img/reviews/Reviews_BG_desktop@2x.png');
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1200px;
    padding: 80px 175px 184px 175px;
  }
}

.reviews-title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 29px;
  line-height: 1.5em;
  letter-spacing: 0%;
  font-family: Fredoka;
  text-align: center;

  @include media(desktop) {
    margin-bottom: 32px;

    font-size: 45px;
  }
}

.reviews-list {
  min-width: 0;
  width: 100%;
  @include media(desktop) {
    display: grid;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
    column-gap: 16px;
    row-gap: 64px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 584px;
    width: 830px;
  }
}

.reviews-swiper .swiper-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  min-width: 320px;
  height: 216px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews-swiper .swiper-pagination {
  bottom: -10px;
}

.swiper-slide {
  width: auto;
}

.reviews-swiper
  .swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50% !important;
  top: 94% !important;
  z-index: 100;
}

.reviews-item {
  position: relative;

  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  align-items: flex-start;
  width: 179px !important;
  height: 179px !important;
  padding: 47px 20px 47px 21px;

  color: $_reviews_text;
  background-color: $_reviews_bg_item;
  border-radius: 50%;
  box-shadow: $_reviews_box_shadow_mobile;

  @include media(desktop) {
    width: 266px !important;
    height: 256px !important;
    gap: 14px;
    padding: 68px 40px;
    backdrop-filter: blur(19px);

    box-shadow: $_reviews_box_shadow_desktop;
  }
}

@include media(desktop) {
  .reviews-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .reviews-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .reviews-item:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .reviews-item:nth-child(4) {
    grid-column: 3;
    grid-row: 1;
  }

  .reviews-item:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
  }
}

.reviews-item-box {
  display: flex;
  gap: 8px;
  @include media(desktop) {
    gap: 15px;
  }
}

.reviews-photo {
  width: 22px;
  height: 22px;

  @include media(desktop) {
    width: 43px;
    height: 43px;
  }
}

.reviews-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0%;
  font-family: Fredoka;

  @include media(desktop) {
    font-size: 21px;
  }
}

.reviews-item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0%;
  font-family: Open Sans;
  text-align: center;

  @include media(desktop) {
    width: 179.5px;

    font-size: 14px;
  }
}

.reviews-yellow-star {
  position: absolute;
  left: 3.94px;
  top: 89.4px;

  width: 10.57px;
  height: 10.96px;

  @include media(desktop) {
    left: 7.69px;
    top: 174.37px;

    width: 20.62px;
    height: 21.37px;
  }
}

.reviews-star {
  position: absolute;
  top: 14.02px;
  left: 92.46px;

  width: 23.66px;
  height: 23.66px;

  @include media(desktop) {
    top: 27.35px;
    left: 180.35px;

    width: 46.16px;
    height: 46.16px;
  }
}
